//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display&family=Work+Sans:wght@500&display=swap');


//color
$main: #515076;
$grey: #888794;
$title: #757AA5;
